{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block body %}
    <h1>Paso 1: Registro</h1>
    <hr>

    {% for message in app.flashes('error') %}
        <div style="color: white; background: red; padding: 10px; margin-bottom: 10px;">
            {{ message }}
        </div>
    {% endfor %}

    <div style="max-width: 400px; padding: 20px; border: 1px solid #ccc;">
        {{ form_start(formulario) }}
        {{ form_row(formulario.nombre) }}

        <div style="margin: 20px 0;">
            {# LLAVE DE SITIO QUE ME PASASTE #}
            <div class="g-recaptcha" data-sitekey="6LdJQlcsAAAAAHng2XiAGWHbFeaJi_d1ggsLHlND"></div>
        </div>

        <button type="submit" style="width: 100%; padding: 10px; background: blue; color: white;">
            Siguiente Paso
        </button>
        {{ form_end(formulario, {'render_rest': false}) }}
    </div>
{% endblock %}
