{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block body %}
    <h1>Paso 1: Registro</h1>

    <hr>

    {% for message in app.flashes('error') %}
        <div style="color: white; background-color: #d9534f; padding: 10px; margin-bottom: 10px; border-radius: 5px;">
            {{ message }}
        </div>
    {% endfor %}

    <div style="max-width: 450px; background: #f9f9f9; padding: 20px; border-radius: 8px; border: 1px solid #ddd;">
        {{ form_start(formulario) }}
        <div style="margin-bottom: 20px;">
            {{ form_label(formulario.nombre, 'Escribe tu nombre completo:') }}
            {{ form_widget(formulario.nombre, {'attr': {'style': 'width: 100%; padding: 10px;'}}) }}
        </div>

        <div style="margin-bottom: 20px;">
            <label>Verificación de seguridad:</label>
            <div style="margin-top: 10px;">
                {# HARDCODEO DE SITE KEY (La que termina en lND) #}
                <div class="g-recaptcha" data-sitekey="6LdJQlcsAAAAAHng2XiAGWHbFeaJi_d1ggsLHlND"></div>
            </div>
        </div>

        <button type="submit" style="background: #007bff; color: white; padding: 12px 20px; border: none; border-radius: 4px; cursor: pointer; width: 100%;">
            Siguiente Paso
        </button>
        {{ form_end(formulario, {'render_rest': false}) }}
    </div>
{% endblock %}
